{% extends "base.html" %}

{% block content %}
<div style="height:560px;width:819px;background-image:url(/static/img/tobegreat.png); background-repeat:no-repeat;">
    <div style="padding-top:100px; padding-left: 700px;">
        <form action="" method="post"">
        {% csrf_token %}
        <label for="username">用户名：</label>
        <input type="text" name="username" placeholder="请输入您的用户名" id="username">
        <label for="password">密码：</label>
        <input type="password" name="password" placeholder="请输入您的密码" id="password"><br>
        <button type="submit" class="btn" data-loading-text="登录中…" id="login_button">
        登录
        </button>
        {% if form.errors %}
        <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">
        &times;
        </button>
        账户名或密码错误
        </div>
        {% endif %}
        <input type="hidden" name="next" value={{ next }} />
        </form>
    </div>
</div>
{% endblock %}
{% block additional_script %}
<script type="text/javascript">
	$("#username").focus();
	$('#login_button').click(function() {
		$(this).button('loading');
	}); 
</script>
{% endblock %}