{% extends 'base_site.html' %}
{% block title %}关于首页{% endblock %}

{% block additional_header %}
<link href="/static/css/sidenav.css" rel="stylesheet">
{% endblock %}

{% block navbar_active1 %}{% endblock %}
{% block navbar_active6 %}class="active"{% endblock %}

{% block content %}
<!-- Subhead================================================== -->
<header class="jumbotron subhead" id="overview">
	<div class="container">
		<h1>be simple, be quick.</h1>
		<p class="lead">
			关于项目管理系统
		</p>
	</div>
</header>
<div class="container-fluid" style="padding: 20px">
	<div class="row-fluid">
		<div class="span2 sidebar">
			<ul class="nav nav-list sidenav" data-spy="affix" data-offset-top="211">
				<li class="active">
					<a href="#hero1"><i class="icon-chevron-right"></i>hero1</a>
				</li>
				<li>
					<a href="#hero2"><i class="icon-chevron-right"></i>hero2</a>
				</li>
				<li>
					<a href="#hero3"><i class="icon-chevron-right"></i>hero3</a>
				</li>
				<li>
					<a href="#hero4"><i class="icon-chevron-right"></i>hero4</a>
				</li>
				<li>
					<a href="#hero5"><i class="icon-chevron-right"></i>hero5</a>
				</li>
			</ul>
		</div>
		<div class="span10">
			<section id="hero1">
				<div class="hero-unit">
					<div>
						<h1> 欢迎您进入 项目管理系统! </h1>
						<p>
							&nbsp;
						</p>
					</div>
					<a class="btn btn-primary btn-large" href="/project/">
					<div>
						马上开始 »
					</div> </a>
				</div>
			</section>
			<section id="hero2">
				<div class="hero-unit">
					<div>
						<h1> 欢迎您进入 项目管理系统! </h1>
						<p>
							&nbsp;
						</p>
					</div>
					<a class="btn btn-primary btn-large" href="/project/">
					<div>
						马上开始 »
					</div> </a>
				</div>
			</section>
			<section id="hero3">
				<div class="hero-unit">
					<div>
						<h1> 欢迎您进入 项目管理系统! </h1>
						<p>
							&nbsp;
						</p>
					</div>
					<a class="btn btn-primary btn-large" href="/project/">
					<div>
						马上开始 »
					</div> </a>
				</div>
			</section>
			<section id="hero4">
				<div class="hero-unit">
					<div>
						<h1> 欢迎您进入 项目管理系统! </h1>
						<p>
							&nbsp;
						</p>
					</div>
					<a class="btn btn-primary btn-large" href="/project/">
					<div>
						马上开始 »
					</div> </a>
				</div>
				<div class="hero-unit">
					<div>
						<h1> 欢迎您进入 项目管理系统! </h1>
						<p>
							&nbsp;
						</p>
					</div>
					<a class="btn btn-primary btn-large" href="/project/">
					<div>
						马上开始 »
					</div> </a>
				</div>
			</section>
			<section id="hero5">
				<div class="hero-unit">
					<div>
						<h1> 欢迎您进入 项目管理系统! </h1>
						<p>
							&nbsp;
						</p>
					</div>
					<a class="btn btn-primary btn-large" href="/project/">
					<div>
						马上开始 »
					</div> </a>
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}