{% extends 'base.html' %}
{% block navbar %}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand"> BRAND HERE </a>
            <ul class="nav">
                <li {% block navbar_active1 %}class="active"{% endblock %}>
                    <a href="/"><i class="icon-home"></i> 首页 </a>
                </li>
                <li {% block navbar_active2 %}{% endblock %}>
                    <a href="/project/">项目基本信息 </a>
                </li>
                <li {% block navbar_active3 %}{% endblock %}>
                    <a href="/purchase/">采购跟踪 </a>
                </li>
                <li {% block navbar_active4 %}{% endblock %}>
                    <a href="/contract">合同跟踪 </a>
                </li>
                <li {% block navbar_active5 %}{% endblock %}>
                    <a href="/order/">订单跟踪 </a>
                </li>
                <li {% block navbar_active6 %}{% endblock %}>
                    <a href="/about/"><i class="icon-info-sign"></i> 关于</a>
                </li>
                <li {% block navbar_active7 %}{% endblock %}>
                    <a href="/weeklyreport/">周报</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <p class="navbar-text pull-right">
                欢迎您，{{ request.user.last_name}}{{ request.user.first_name}}
                <a href="/accounts/logout/?next=/accounts/login/">退出登录</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}