<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}联通项目管理系统 {% endblock %}</title>
		<!-- 响应式设计 -->
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/my.css" rel="stylesheet">
		<link href="/static/datepicker/css/datepicker.css" rel="stylesheet">
		<!-- 响应式设计 -->
		<!-- <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> -->
		<meta name="description" content="">
		<meta name="author" content="Justim">
		<style type="text/css">
			body {
				padding-top: 40px; /* 60px to make the container go all the way
				 to the bottom of the topbar */
			}
			/*footer {
			 position: absolute;
			 bottom: 0;
			 width: 100%;
			 height: 72px;/*脚部的高度*/
			clear: both;
			}*/
		</style>
		{% block additional_header %}{% endblock %}
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="#">
	</head>
	{% block body %}
	<body data-spy="scroll" data-target=".sidebar">
		{% block navbar %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}
		<footer style="padding-top: 30px">
			<hr>
			<div class="span4 offset8" id="footer">
				<p class="pull-right">
					© ChinaUnicom, Go to <a href="/admin">Admin</a>
				</p>
			</div>
		</footer>
		{% endblock %}
		<!-- Place js at the end of the document so the pages load faster -->
		<script src="/static/jquery-1.9.1.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
		{% block additional_script %}{% endblock %}
	</body>
	{% endblock %}
</html>