{% extends 'base_site.html' %}
{% block title %}项目基本信息管理{% endblock %}

{% block navbar_active1 %}{% endblock %}
{% block navbar_active2 %}class="active"{% endblock %}

{% block content %}
<a href="add/">
<button class="btn btn-primary btn-mini">
	新增
</button></a> Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
<div class="btn-group">
	<a class="btn dropdown-toggle btn-mini btn-primary" data-toggle="dropdown" href="#"> 每页显示 <span class="caret"></span> </a>
	<ul class="dropdown-menu">
		<li>
			<a href="?num_per_page=1">1</a>
		</li>
		<li>
			<a href="?num_per_page=10">10</a>
		</li>
		<li>
			<a href="?num_per_page=25">25</a>
		</li>
		<li>
			<a href="?num_per_page=50">50</a>
		</li>
		<li>
			<a href="?num_per_page=100">100</a>
		</li>
	</ul>
</div>
<table class="table table-hover table-bordered table-condensed"  style="font-size: 12px">
	<thead>
		<tr>
			<th>序号</th>
			<th>项目年份</th>
			<th>项目名称</th>
			<th>项目经理</th>
			<th>项目编号</th>
			<th>可研批复号</th>
			<th>可研批复金额</th>
			<th>可研批复日期</th>
			<th>设计批复号</th>
			<th>设计批复金额</th>
			<th>设计批复日期</th>
			<th>项目状态</th>
			<th>操作</th>
		</tr>
	</thead>
	{% for p in projects %}
	<tbody>
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ p.xiangmunianfen }}</td>
			<td>{{ p.xiangmumingcheng }}</td>
			<td>{{ p.xiangmujingli }}</td>
			<td>{{ p.xiangmubianhao }}</td>
			<td>{{ p.keyanpifuhao }}</td>
			<td>{{ p.keyanpifujine }}</td>
			<td>{{ p.keyanpifuriqi }}</td>
			<td>{{ p.shejipifuhao }}</td>
			<td>{{ p.shejipifujine }}</td>
			<td>{{ p.shejipifuriqi }}</td>
			<td>{{ p.xiangmuzhuangtai }}</td>
			<td>{% if p.xiangmujingli.user = user %}<a href="#delete_modal{{p.id}}" role="button" data-toggle="modal"><i class="icon-trash"></i></a> | <a href="{{ p.id }}/edit/"><i class="icon-pencil"></i></a>{% endif %}</td>
			<!-- Modal -->
			<div id="delete_modal{{p.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h3 id="myModalLabel">请确认</h3>
				</div>
				<div class="modal-body">
					<p class="text-center">
						是否删除此项目：{{p.xiangmumingcheng}}
					</p>
				</div>
				<div class="modal-footer">
					<a href="{{ p.id }}/delete/">
					<button class="btn btn-danger">
						删除
					</button></a>
					<button class="btn" data-dismiss="modal" aria-hidden="true">
						取消
					</button>
				</div>
			</div>
		</tr>
	</tbody>
	{% endfor %}
</table>
<div class="pagination pagination-mini">
	<ul>
		{% if projects.has_previous %}
		<li class="previous">
			<a href="?page={{ projects.previous_page_number }}">previous</a>
		</li>
		{% else %}
		<li class="disabled">
			<a>previous</a>
		</li>
		{% endif %}
		{% if projects.has_next %}
		<li>
			<a href="?page={{ projects.next_page_number }}">next</a>
		</li>
		{% else %}
		<li class="disabled">
			<a>next</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock %}
